a {
  color: black !important;
}

.brand-logo {
  font-family: "Grand Hotel", cursive;
  padding-left: 20px !important;
}

.login-card {
  padding: 20px;
  text-align: center;
  width: 400px;
  height: 350px;
}
.signup-card {
  padding: 20px;
  text-align: center;
  width: 400px;
  height: 450px;
}

.main_container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-s {
  margin-top: 30px !important;
}

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.home {
  padding: 0px 20px 0px 20px;
}
h5 {
  margin-left: 20px;
}
.post-card {
  padding: 20px;
  width: 400px;
  height: 420px;
  text-align: center;
}
#toast-container {
  top: 0 !important;
}
